html,body{
    background-color: #F8BBD0;
    color: #7b1fa2;
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}

main{
    display:flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 20vh;
}