html,body{
    background-color: #F8BBD0;
    color: #7b1fa2;
}

main{
    display:flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 20vh;
}

main div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

details{
    border: #9575cd solid 2px;
    padding: 0.5rem;
    border-radius: 25px;
    background-color: #B39DDB;
    width: 90%;
    overflow: hidden;
    
}

details>p{
    padding-block: 1rem;
}

details::details-content{
    block-size: 0;
    transition: block-size 1s;
}

details[open]::details-content{
    block-size: auto;
    transition: block-size 1s;
}